h1{
    color: red;
    background-color: blue;
    font-family: serif;
}
p{
  color: plum;
  font-size:x-large; 
}
h2{
    color: orange;
    background: yellow;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
h3{
    color: black;
    background: rgba(206, 238, 63, 0.884);
    font-size: large;
    font-family: 'Times New Roman', Times, serif; 
}