body{
    background-color: lightgray
}
h1{
    background-color: rgb(253, 229, 233);
    color: maroon;
}
p{
    color: gray;
    font-size: large;
}
span{
   background-color: rgb(241, 241, 188); 
   color: green;
}
ul{
    color: grey;
}
h3{
    color: rgb(228, 208, 27);
    background-color: whitesmoke;
}
